.map {
   width: 100%;
   margin-top: 800px;
   height: 400px;

   @media (min-width: 720px) {
      margin-top: 400px;
   }

   @media (min-width: 1600px) {
      margin-top: 0;
      height: 728px;
   }
}
